<h2>Profiles</h2>
      <table class="table table-hover table-bordered">
        <thead>
          <tr>
            <th width=200>FirstName </th>
            <th width=200>LastName</th>
            <th width=200>JoinningYear</th>
            <th width=200>Qualificaton</th>
            <th width=200>EmailId</th>
            <th width=200>Password</th>
            <th width=200>Phone</th>
            <th width=200>Male</th>
            <th width=800>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let employee of employees">
            <td>{{employee.fname}}</td>
            <td>{{employee.lname}}</td>
            <td>{{employee.doj}}</td>
            <td>{{employee.qualification}}</td>
            <td>{{employee.emailId}}</td>
            <td>{{employee.pwd}}</td>
            <td>{{employee.mobileNo}}</td>
            <td>{{employee.gender}}</td>
            <td>
              <a class="btn btn-info" (click)="editEmployee(i)">Edit</a>
              <a class="btn btn-warning" (click)="deleteEmployee()">Delete</a>
            </td>
          </tr>
        </tbody>
      </table>
      <!-- <h2>Update data:</h2>
    <form class="form-horizontal">
      <div class="form-group">
          <label class="control-label col-sm-2" for="name">FirstName:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="name" name="name" [(ngModel)]="model2.name" placeholder="Enter your name">
          </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="name">LastName:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="name" name="lname" [(ngModel)]="model2.lname" placeholder="Enter your lastname">
            </div>
          </div>
          <div class="form-group">
              <label class="control-label col-sm-2" for="name">Gender:</label>
              <div class="col-sm-10">
                      <input type="radio" name="gender" value="male"  [(ngModel)]="model2.gender" checked> Male
                      <input type="radio" name="gender" value="female" [(ngModel)]="model2.gender"> Female
              </div>
            </div>
          <div class="form-group">
              <label class="control-label col-sm-2" for="name">JoinningYear:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="name" name="jyear" [(ngModel)]="model2.jyear" placeholder="Enter your name">
              </div>
            </div>
           
        <div class="form-group">
          <label class="control-label col-sm-2" for="Qualification">Qualification:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="Qualification" name="Qualification" [(ngModel)]="model2.Qualification" placeholder="Enter your Qualification">
          </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="name">EmailId:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="name" name="emailId" [(ngModel)]="model2.emailId" placeholder="Enter your EmailId">
            </div>
          </div>
         
            <div class="form-group">
                <label class="control-label col-sm-2" for="name">Password:</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="name" name="pwd" [(ngModel)]="model2.pwd" placeholder="Enter your Password">
                </div>
              </div>
              <div class="form-group">
                  <label class="control-label col-sm-2" for="name">Phone:</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="name" name="mobileNo" [(ngModel)]="model2.mobileNo" placeholder="Enter your Phone">
                  </div>
                </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default" (click)="updateEmployee(model2)">Update</button>
        </div>
      </div>
    </form> -->
